$colorRed: rgb(190, 15, 15);
$colorBlack: black;
$colorDarkGray: #333333;
$colorGray: #575757;
$colorTransparent: transparent;
$colorWhite: white;
$cero: 0;
// $fontType: 'Josefin Sans', sans-serif;
// $fontType: 'Coustard', serif;
$fontType: 'Merienda', cursive;
// $fontType: 'Acme', sans-serif;
// @keyframes escribir {
//   from { width: 50% }
//   to { width:0% }
// }
@mixin listActive($color, $cero)
{
  background-color: $color;
  border-radius: $cero; 
}
@mixin lineVertical($color, $width, $height, $position, $right, $margin)
{
  background-color: $color;
  width: $width;
  height: $height;
  position: $position;
  right: $right;
  margin: $margin $right; 
}
// @mixin media-breakpoint-between()
// @mixin media-breakpoint-between(xs, sm)
// {
//   .colContainer
//   {
//     overflow-y: auto;
//     overflow-x: hidden;
//   }
// }
*
{
  // outline: 1px solid black; 
  margin: $cero;
  padding: $cero;
  box-sizing: border-box;
}
body
{
  font-family: $fontType;
  background-image: url(../assets/fondo24.png);
  background-size: cover;
  // background-repeat: no-repeat;
  height: 100vh;  
  .logo
  {
    // font-size: 1000px;
    color: $colorRed;
    img
    {
      width: 450px;
    }
  }
}
.rowContainer
{
  .colContainer
  {
    background-color: $colorWhite;
    padding: $cero;
    height: 70vh;
    // overflow-y: auto;
    // overflow-x: hidden;
    // position: relative;
  }
  .pills
  {
    position: absolute;
    right: $cero;
    bottom: $cero;
    &_element
    {
      padding-right: 0;
      margin-right: 45px;
    }
  }
}
.nav-pills
{position: absolute;
  right: $cero;
  bottom: $cero;
  li
  {
    background-color: $colorGray;
    a
    {
      &:hover
      {
        @include listActive($colorBlack, $cero);
      }
      &:focus
      {
        @include listActive($colorBlack, $cero);
      }
      // a
      // {
      //   &:focus
      //   {
      //     @include listActive($colorTransparent, $cero);
      //   }
      // }    
    }
    i
    {
      color: $colorWhite;
    }
  }
  li.active
  {
    a
    {
      @include listActive($colorRed, $cero);
      color: $colorGray;
      &:hover
      {
        color: $colorBlack;
        @include listActive($colorRed, $cero);
      }
      &:focus
      {
        @include listActive($colorRed, $cero);
      }
    }
    i
    {
      color: $colorWhite;
    }
  }
}
.home
{
  background-color: $colorGray;
  color: $colorRed;
  height: 100%;
  background-image: url(../assets/imageHome1.JPG);
  background-size: cover;
  // background-repeat: no-repeat;
  // background-position-y: -50px;
  background-position-x: -0px;      
  // background-position: top;
    // &-2
    // {
    //   height: 100%;
    //   background-image: url(../assets/imageHome2.JPG);
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-origin: initial;
    // }
  
  .content
  {
    // margin-top: 50px;
  }
  .typing
  {
    // h3{
    //   color:#FFFFFF;
    //   font-family:Consolas,monospace;
    //   position:relative;
    //   float:left;
    //   font-size:150%;
    //  }
    // h3 span{
    //   position:absolute;
    //   top:0;
    //   right:0;
    //   width:0;
    //   // background-color:#000000;
    //   border-left: .1em solid #FFFFFF;
    //   box-sizing: border-box;
    //   -webkit-box-sizing: border-box;
    //   -moz-box-sizing: border-box;
    //   animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //   -webkit-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //   -moz-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //  }
    // // color: $colorBlack;
    // margin-top: 80px;
    // display: table;
    // h3
    // {
    //   position: relative; 
    //   float: left;
    //   // background: tomato;
    //   color: #fff;
    //   font-size: 2.5em;
    //   span
    //   {
    //     position:absolute;
    //     right:0;
    //     width:0;
    //     background: tomato;
    //     border-left: 1px solid #000;
    //     animation: escribir 5s steps(30) infinite alternate;
    //   }
    // }
  }
}
.about
{
  hr#aboutLineVerticalImg
  {
    // height: 
    @include lineVertical($colorRed, 5px, 25vw, absolute, 1px, 0);
  }
  hr#aboutLineVerticalSocial
  {
    @include lineVertical($colorRed, 5px, 150px, absolute, 0, 0);
  }
  &_me
  {
    // float: left;    
    &-image
    {
      float: left;
    }
    &-text
    {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }
}
.skills
{
  i
  {
    font-size: 70px;
    color: $colorRed;
    &:hover
    {
      color: $colorDarkGray;
      cursor: pointer;      
    }
  }
}
.work
{
  .carouselContent
  {
    h3
    {
      color: $colorRed;
      text-shadow: 0 1px 2px rgba($color: $colorWhite, $alpha: 1.0);
      // background-color: rgba($color: $colorWhite, $alpha: 0.5)
    }
    a
    {
      margin: 5px;
      color: $colorWhite;
      background-color: rgba($color: $colorBlack, $alpha: 1.0)
    }
  }
  .carousel-indicators
  {
    .active
    {
      background-color: $colorRed;    
    }
  }
  img
  {
    // height: 80vh;
    // width: 50%;
  }
  a
  {
    &:hover
    {
      color: $colorRed;
    }
  }
}
.contact
{
  // overflow-y: auto;
  // overflow-x: hidden;
  hr.lineVertical-message
  {
    @include lineVertical($colorRed, 5px, 50vh, absolute, 0, 10px);
  }
  hr.lineVertical-contact
  {
    @include lineVertical($colorRed, 5px, 37vh, absolute, 0, 10px);
  }
  .textareaMessage
  {
    height: 20vh;
  }
  i
  {
    // color: $colorBlack;
  }
  .infoContact
  {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;     
  }
  a
  {
    color: $colorDarkGray;
    text-decoration: none;
  }
}
@media (max-width: 767px) 
{
  .rowContainer
  {    
    overflow: auto; 
    height: 100vh !important;    
    .colContainer
    {
      height: 110vh !important;
      // overflow-y: auto;
      // overflow-x: hidden;
      // position: relative;
      // position: relative;
      // overflow: auto;
    // overflow-x: hidden;
    }
  }
  .nav
  {
    position: fixed;
    right: $cero;
    bottom: $cero;
    z-index: 1000000000000000;
  }
}


@media (max-width: 580px) 
{
  .home
  {
    // background-position-y: -50px;
    background-position-x: -100px; 
  }
}
@media (max-width: 991px) 
{
  .logo
  {
    img
    {
      width: 350px !important;
      // height: 20px;
    }
  }
  .rowContainer
  {
    height: 75vh;
    
    .colContainer
    {
      height: 80vh;
      // overflow-y: auto;
      // overflow-x: hidden;
      // position: relative;
    }
  }
  .about
  {
    hr#aboutLineVerticalImg
    {
      // height: 
      @include lineVertical($colorRed, 5px, 300px, absolute, 1px, 0);
    }
  }
}
@media (max-width: 728px) 
{
  .pills
  {
    // position: fixed;
    // right: $cero;
    // bottom: $cero;
  }
  .colContainer
  {
    // position: relative;
    // overflow-y: auto;
    // overflow-x: hidden;
  }
  .logo
  {
    img
    {
      width: 100% !important;
      // height: 20px;
    }
  }
  .home
  {
    // background-position-y: -50px;
    // background-position-x: -60px; 
  }
} 
// @media (min-width: 768px) 
// {
//   .logo
//   {
//     img
//     {
//       width: 450px;
//       // height: 20px;
//     }
//   }
// }

 
 //ANIMACIONES 
 @keyframes parpadeo{
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 }
 @keyframes escribiendo{
  from{width:100%}
  to{width:0}
 }
 @-webkit-keyframes parpadeo{
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 }
 @-webkit-keyframes escribiendo{
  from{width:100%}
  to{width:0}
 }
 @-moz-keyframes parpadeo {
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 } 
 @-moz-keyframes escribiendo {
  from{width:100%}
  to{width:0}
 }
 .typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}