* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", cursive;
  background-image: url(../assets/fondo24.png);
  background-size: cover;
  height: 100vh;
}

body .logo {
  color: #be0f0f;
}

body .logo img {
  width: 450px;
}

.rowContainer .colContainer {
  background-color: white;
  padding: 0;
  height: 70vh;
}

.rowContainer .pills {
  position: absolute;
  right: 0;
  bottom: 0;
}

.rowContainer .pills_element {
  padding-right: 0;
  margin-right: 45px;
}

.nav-pills {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-pills li {
  background-color: #575757;
}

.nav-pills li a:hover {
  background-color: black;
  border-radius: 0;
}

.nav-pills li a:focus {
  background-color: black;
  border-radius: 0;
}

.nav-pills li i {
  color: white;
}

.nav-pills li.active a {
  background-color: #be0f0f;
  border-radius: 0;
  color: #575757;
}

.nav-pills li.active a:hover {
  color: black;
  background-color: #be0f0f;
  border-radius: 0;
}

.nav-pills li.active a:focus {
  background-color: #be0f0f;
  border-radius: 0;
}

.nav-pills li.active i {
  color: white;
}

.home {
  background-color: #575757;
  color: #be0f0f;
  height: 100%;
  background-image: url(../assets/imageHome1.JPG);
  background-size: cover;
  background-position-x: -0px;
}

.about h3 {
  color: #be0f0f;
}

.about hr#aboutLineVerticalImg {
  background-color: #be0f0f;
  width: 5px;
  height: 25vw;
  position: absolute;
  right: 1px;
  margin: 0 1px;
}

.about hr#aboutLineVerticalSocial {
  background-color: #be0f0f;
  width: 5px;
  height: 105px;
  position: absolute;
  right: 0;
  margin: 0 0;
}

.about_me-image {
  float: left;
}

.about_me-text {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.about a {
  color: #333333;
}

.about a:hover {
  color: #be0f0f;
}

.about .divider {
  background-color: #333333;
  height: 1px;
}

.skills h3 {
  color: #be0f0f;
}

.skills i {
  font-size: 450%;
  color: #be0f0f;
}

.skills i:hover {
  color: #333333;
  cursor: pointer;
}

.work h3 {
  color: #be0f0f;
}

.work .carouselContent h3 {
  color: #be0f0f;
  text-shadow: 0 1px 2px white;
}

.work .carouselContent a {
  margin: 5px;
  color: white;
  background-color: black;
}

.work .carousel-indicators .active {
  background-color: #be0f0f;
}

.work a:hover {
  color: #be0f0f;
}

.work_images {
  float: left;
  position: relative;
}

.work_images img {
  float: left;
  z-index: 4;
}

.work_images:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.work_images .caption {
  position: absolute;
  opacity: 0;
  top: 100px;
  height: 100%;
  width: 83%;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.work_images .caption .blur {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
}

.work_images .caption .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 15%;
}

.work_images .caption .caption-text a {
  color: white;
}

.work_images .caption .caption-text a:hover {
  color: #be0f0f;
}

.contact h3 {
  color: #be0f0f;
}

.contact hr.lineVertical-message {
  background-color: #be0f0f;
  width: 5px;
  height: 50vh;
  position: absolute;
  right: 0;
  margin: 10px 0;
}

.contact hr.lineVertical-contact {
  background-color: #be0f0f;
  width: 5px;
  height: 250px;
  position: absolute;
  right: 0;
  margin: 0px 0;
}

.contact .textareaMessage {
  height: 20vh;
}

.contact .infoContact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact a {
  color: #333333;
}

.contact a:hover {
  text-decoration: none;
  color: #be0f0f;
}

@media (max-width: 767px) {
  .rowContainer {
    overflow: auto;
    height: 100vh !important;
  }
  .rowContainer .colContainer {
    overflow: auto;
    height: 110vh !important;
  }
  .nav {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000000000000000;
  }
  .about hr#aboutLineVerticalImg {
    background-color: #be0f0f;
    width: 5px;
    height: 70vh;
    position: absolute;
    right: 0px;
    margin: 0 0px;
  }
  .about hr#aboutLineVerticalSocial {
    background-color: #be0f0f;
    width: 5px;
    height: 35px;
    position: absolute;
    right: 0px;
    margin: 0 0px;
  }
  .about .empty {
    width: 100%;
    height: 50px;
  }
  .work_images {
    color: #be0f0f;
  }
  .work_images .caption {
    width: 90% !important;
  }
  .contact hr.lineVertical-contact {
    background-color: #be0f0f;
    width: 5px;
    height: 200px;
    position: absolute;
    right: 0;
    margin: 0px 0;
  }
}

@media (max-width: 580px) {
  .home {
    background-position-x: -180px;
  }
  .work .carouselContent h3 {
    font-size: 15px;
  }
  .work .carouselContent a {
    font-size: 9px;
  }
  .work_images {
    color: #be0f0f;
  }
  .work_images .caption {
    width: 85% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo img {
    width: 350px !important;
  }
  .rowContainer {
    height: 75vh;
  }
  .rowContainer .colContainer {
    height: 80vh;
  }
  .home {
    background-position-x: -0px;
  }
  .about hr#aboutLineVerticalImg {
    background-color: #be0f0f;
    width: 5px;
    height: 300px;
    position: absolute;
    right: 1px;
    margin: 0 1px;
  }
  .work .carouselContent h3 {
    font-size: 18px;
  }
  .work .carouselContent a {
    font-size: 13px;
  }
  .contact hr.lineVertical-contact {
    background-color: #be0f0f;
    width: 5px;
    height: 230px;
    position: absolute;
    right: 0;
    margin: 0px 0;
  }
}

@media (max-width: 728px) {
  .logo img {
    width: 100% !important;
  }
}

@keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@-webkit-keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-moz-keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@-moz-keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 

 /*# sourceMappingURL= test.css.map */