$colorRed: rgb(190, 15, 15);
$colorBlack: black;
$colorDarkGray: #333333;
$colorGray: #575757;
$colorTransparent: transparent;
$colorWhite: white;
$cero: 0;
// $fontType: 'Josefin Sans', sans-serif;
// $fontType: 'Coustard', serif;
$fontType: 'Merienda', cursive;
// $fontType: 'Acme', sans-serif;
// @keyframes escribir {
//   from { width: 50% }
//   to { width:0% }
// }
@mixin listActive($color, $cero)
{
  background-color: $color;
  border-radius: $cero; 
}
@mixin lineVertical($color, $width, $height, $position, $right, $margin)
{
  background-color: $color;
  width: $width;
  height: $height;
  position: $position;
  right: $right;
  margin: $margin $right; 
}

*
{
  // outline: 1px solid red;
  margin: $cero;
  padding: $cero;
  box-sizing: border-box;
  font-family: $fontType;
}
body
{
  font-family: $fontType;
  background-color: $colorBlack;
  // background-image: url(../assets/fondo24-compressor.png);
  background-size: cover;
  // background-repeat: no-repeat;
  // height: 100vh;  
  overflow: hidden;
  .logo
  {
    color: $colorRed;
    img
    {
      width: 450px;
    }
  }
}
.rowContainer
{
  height: 70vh;  
  .colContainer
  {
    background-color: $colorWhite;
    padding: $cero;
    // height: 70vh;
    height: 100%; 
    // overflow-y: auto;
    // overflow-x: hidden;
    // position: relative;
  }
  .pills
  {
    position: absolute;
    right: $cero;
    bottom: $cero;
    &_element
    {
      padding-right: 0;
      margin-right: 45px;
    }
  }
}
.nav-pills
{
  position: absolute;
  right: $cero;
  bottom: $cero;
  li
  {
    background-color: $colorGray;
    a
    {
      &:hover
      {
        @include listActive($colorBlack, $cero);
      }
      &:focus
      {
        @include listActive($colorBlack, $cero);
      }    
    }
    i
    {
      color: $colorWhite;
    }
  }
  li.active
  {
    a
    {
      @include listActive($colorRed, $cero);
      color: $colorGray;
      &:hover
      {
        color: $colorBlack;
        @include listActive($colorRed, $cero);
      }
      &:focus
      {
        @include listActive($colorRed, $cero);
      }
    }
    i
    {
      color: $colorWhite;
    }
  }
}
.home
{
  background-color: $colorGray;
  color: $colorRed;
  height: 100%;
  background-image: url(../assets/imageHome1-compressor.jpg);
  background-size: cover;
  // background-repeat: no-repeat;
  // background-position-y: -50px;
  background-position-x: -0px;      
  // background-position: top;  
  .content
  {
    // margin-top: 50px;
  }
  .typing
  {
    // h3{
    //   color:#FFFFFF;
    //   font-family:Consolas,monospace;
    //   position:relative;
    //   float:left;
    //   font-size:150%;
    //  }
    // h3 span{
    //   position:absolute;
    //   top:0;
    //   right:0;
    //   width:0;
    //   // background-color:#000000;
    //   border-left: .1em solid #FFFFFF;
    //   box-sizing: border-box;
    //   -webkit-box-sizing: border-box;
    //   -moz-box-sizing: border-box;
    //   animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //   -webkit-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //   -moz-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
    //  }
    // // color: $colorBlack;
    // margin-top: 80px;
    // display: table;
    // h3
    // {
    //   position: relative; 
    //   float: left;
    //   // background: tomato;
    //   color: #fff;
    //   font-size: 2.5em;
    //   span
    //   {
    //     position:absolute;
    //     right:0;
    //     width:0;
    //     background: tomato;
    //     border-left: 1px solid #000;
    //     animation: escribir 5s steps(30) infinite alternate;
    //   }
    // }
  }
}
.about
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  h3
  {
    color: $colorRed;
  }
  hr#aboutLineVerticalImg
  {
    @include lineVertical($colorRed, 5px, 25vw, absolute, 1px, 0);
  }
  hr#aboutLineVerticalSocial
  {
    @include lineVertical($colorRed, 5px, 105px, absolute, 0, 0);
  }
  &_me
  {
    &-image
    {
      float: left;
    }
    &-text
    {
      margin-left: 15px;
      margin-right: 15px;      
      margin-bottom: 0;
    }
  }
  a
  {
    color: $colorDarkGray;
    &:hover
    {
      color: $colorRed;
    }
  }
  .divider
  {
    background-color: $colorDarkGray;
    height: 1px;
  }
}
.skills
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  h3
  {
    color: $colorRed
  }
  i
  {
    font-size: 450%;
    color: $colorRed;
    &:hover
    {
      color: $colorDarkGray;
      cursor: pointer;      
    }
  }
  &_icons
  {
    // position: absolute;
    i
    {
      position: relative;
      // -webkit-border-radius: 10px;
      // -moz-border-radius: 10px;
      // border-radius: 10px;
      display:block;
      // margin-left: auto;
      // margin-right: auto;
      // width: 100%;   
      transform:scale(1);
      -ms-transform:scale(1); // IE 9 
      -moz-transform:scale(1); // Firefox 
      -webkit-transform:scale(1); // Safari and Chrome 
      -o-transform:scale(1); // Opera 
      -webkit-transition: all 500ms ease-in-out; // IE 9
      -moz-transition: all 500ms ease-in-out; // Firefox
      -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
      -o-transition: all 500ms ease-in-out; // Opera       
      transition: transfom opacity 1.5s;      
      &:hover
      {
        transform:scale(0.8);
        -ms-transform:scale(0.8); // IE 9 
        -moz-transform:scale(0.8); // Firefox 
        -webkit-transform:scale(0.8); // Safari and Chrome 
        -o-transform:scale(0.8); // Opera
        .text
        {
          transform:translate(0px,-20px);
          opacity: 1;
        }
      }
      .text
      {
        font-size: 20px;
        padding-top: 20px;
        display:block;
        text-align: center;
        // width: 100%;   
        transform:translate(0px);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        opacity: 0;
        transition: transfom opacity 1.5s;
        // &:hover
        // {
        //   transform:translate(0px,-20px);
        //   opacity: 1;
        // }
      }
    }
  }
}
.work
{
  // background-color: $colorWhite;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  h3
  {
    color: $colorRed;
  }
  .containerWork
  {
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: center;     
    // height: 100%;
  
  }
  .carouselContent
  {
    h3
    {
      color: $colorRed;
      text-shadow: 0 2px 1px rgba($color: $colorBlack, $alpha: 0.5);
      background-color: rgba($color: $colorWhite, $alpha: 0.9)
    }
    a
    {
      margin: 5px;
      color: $colorWhite;
      background-color: rgba($color: $colorBlack, $alpha: 1.0)
    }
  }
  .carousel-indicators
  {
    .active
    {
      background-color: $colorRed;    
    }
  }
  img
  {
    // height: 80vh;
    // width: 50%;
  }
  a
  {
    &:hover
    {
      color: $colorRed;
    }
  }
  &_images
  {
    float: left;
    position: relative;
    img
    {
      float: left;
      z-index: 4;
    }
    &:hover .caption{
      opacity: 1;
      transform: translateY(-100px);
      -webkit-transform:translateY(-100px);
      -moz-transform:translateY(-100px);
      -ms-transform:translateY(-100px);
      -o-transform:translateY(-100px);
    }
    .caption
    {
      position: absolute;
      opacity: 0;
      top: 100px;
      height: 100%;
      width: 83%;
      -webkit-transition:all 0.15s ease-in-out;
      -moz-transition:all 0.15s ease-in-out;
      -o-transition:all 0.15s ease-in-out;
      -ms-transition:all 0.15s ease-in-out;
      transition:all 0.15s ease-in-out;
      .blur
      {
        background-color: rgba(0,0,0,0.9);
        height: 100%;
        width: 100%;
        z-index: 5;
        position: absolute;
      }
      .caption-text
      {
        z-index: 10;
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 15%;
        a
        {
          color: $colorWhite;
          &:hover
          {
            color: $colorRed;
          }
        }
      }
    }
  }
}
.contact
{
  // overflow-y: auto;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  h3
  {
    color: $colorRed
  }
  hr.lineVertical-message
  {
    @include lineVertical($colorRed, 5px, 50vh, absolute, 0, 10px);
  }
  hr.lineVertical-contact
  {
    @include lineVertical($colorRed, 5px, 190px, absolute, 0, 0px);
  }
  .textareaMessage
  {
    height: 20vh;
  }
  .infoContact
  {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;     
  }
  a
  {
    color: $colorDarkGray;
    &:hover
    {
      text-decoration: none;    
      color: $colorRed;
    }
  }
}
@media (max-width: 767px) 
{
  body
  {
    // overflow: auto;
    // height: 100vh !important;    
  }
  .rowContainer
  {    
    // overflow: auto;
    height: 70vh;    
    .colContainer
    {
      overflow: auto;
      overflow-x: hidden;
    // height: 100%;
    
      // height: 100vh !important;
      // overflow-y: auto;
      // overflow-x: hidden;
      // position: relative;
      // position: relative;
      // overflow: auto;
    // overflow-x: hidden;
    }
  }
  .nav
  {
    position: fixed;
    right: $cero;
    bottom: $cero;
    z-index: 1000000000000000;
  }
  .about
  {
    display: block;
    // height: 100%;
    // overflow: auto;
    hr#aboutLineVerticalImg
    {
      // height: 
      @include lineVertical($colorRed, 5px, 330px, absolute, 0px, 0);
    }
    hr#aboutLineVerticalSocial
    {
      @include lineVertical($colorRed, 5px, 35px, absolute, 0px, 0);
    }
    .empty
    {
      // outline: 1px solid red;
      width: 100%;
      // height: 50px;
    }
  }
  .skills
  {
    display: block;
  }
  .work
  {
    display: block;
    &_images
    {
      color: $colorRed;
      .caption
      {
        width: 90% !important;
      }
    }
  }
  .contact
  {
    display: block;
    hr.lineVertical-contact
    {
      @include lineVertical($colorRed, 5px, 165px, absolute, 0, 0px);
    }
  }
}

@media (max-width: 580px) 
{
  .home
  {
    // background-position-y: -50px;
    background-position-x: -150px; 
  }
  .work
  {
    .carouselContent
    {
      h3
      {
        font-size: 15px;
      }
      a
      {
        font-size: 9px;
      }
    } 
  }
  .work
  {
    &_images
    {
      color: $colorRed;
      .caption
      {
        width: 85% !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) 
{
  .logo
  {
    img
    {
      width: 350px !important;
      // height: 20px;
    }
  }
  .rowContainer
  {
    height: 80vh;    
    .colContainer
    {
      // height: 80vh;
      // overflow-y: auto;
      // overflow-x: hidden;
      // position: relative;
    }
  }
  .home
  {
    // background-position-y: -50px;
    background-position-x: -50px; 
  }
  .about
  {
    hr#aboutLineVerticalImg
    {
      @include lineVertical($colorRed, 5px, 300px, absolute, 1px, 0);
    }
  }
  .work
  {
    .carouselContent
    {
      h3
      {
        font-size: 18px;
      }
      a
      {
        font-size: 13px;
      }
    } 
  }
  .contact
  {
    hr.lineVertical-contact
    {
      @include lineVertical($colorRed, 5px, 190px, absolute, 0, 0px);
    }
  }
}

@media (max-width: 728px) 
{
  .pills
  {
    // position: fixed;
    // right: $cero;
    // bottom: $cero;
  }
  .colContainer
  {
    // position: relative;
    // overflow-y: auto;
    // overflow-x: hidden;
  }
  .logo
  {
    img
    {
      width: 100% !important;
      // height: 20px;
    }
  }
  .home
  {
    // background-position-y: -50px;
    // background-position-x: -60px; 
  }
  .work
  {
    .containerWork
    {
      display: block !important;
    }
  }
} 
// @media (min-width: 768px) 
// {
//   .logo
//   {
//     img
//     {
//       width: 450px;
//       // height: 20px;
//     }
//   }
// }

 
 //ANIMACIONES 
 @keyframes parpadeo{
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 }
 @keyframes escribiendo{
  from{width:100%}
  to{width:0}
 }
 @-webkit-keyframes parpadeo{
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 }
 @-webkit-keyframes escribiendo{
  from{width:100%}
  to{width:0}
 }
 @-moz-keyframes parpadeo {
  from, to{border-color:transparent}
  50%{border-color:#FFFFFF}
 } 
 @-moz-keyframes escribiendo {
  from{width:100%}
  to{width:0}
 }
 .typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}