* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", cursive;
  background-image: url(../assets/fondo24.png);
  background-size: cover;
  height: 100vh;
}

body .logo {
  color: #be0f0f;
}

body .logo img {
  width: 450px;
}

.rowContainer .colContainer {
  background-color: white;
  padding: 0;
  height: 70vh;
}

.rowContainer .pills {
  position: absolute;
  right: 0;
  bottom: 0;
}

.rowContainer .pills_element {
  padding-right: 0;
  margin-right: 45px;
}

.nav-pills {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-pills li {
  background-color: #575757;
}

.nav-pills li a:hover {
  background-color: black;
  border-radius: 0;
}

.nav-pills li a:focus {
  background-color: black;
  border-radius: 0;
}

.nav-pills li i {
  color: white;
}

.nav-pills li.active a {
  background-color: #be0f0f;
  border-radius: 0;
  color: #575757;
}

.nav-pills li.active a:hover {
  color: black;
  background-color: #be0f0f;
  border-radius: 0;
}

.nav-pills li.active a:focus {
  background-color: #be0f0f;
  border-radius: 0;
}

.nav-pills li.active i {
  color: white;
}

.home {
  background-color: #575757;
  color: #be0f0f;
  height: 100%;
  background-image: url(../assets/imageHome1.JPG);
  background-size: cover;
  background-position-x: -0px;
}

.about hr#aboutLineVerticalImg {
  background-color: #be0f0f;
  width: 5px;
  height: 25vw;
  position: absolute;
  right: 1px;
  margin: 0 1px;
}

.about hr#aboutLineVerticalSocial {
  background-color: #be0f0f;
  width: 5px;
  height: 150px;
  position: absolute;
  right: 0;
  margin: 0 0;
}

.about_me-image {
  float: left;
}

.about_me-text {
  margin-left: 15px;
  margin-bottom: 0;
}

.skills i {
  font-size: 70px;
  color: #be0f0f;
}

.skills i:hover {
  color: #333333;
  cursor: pointer;
}

.work .carouselContent h3 {
  color: #be0f0f;
  text-shadow: 0 1px 2px white;
}

.work .carouselContent a {
  margin: 5px;
  color: white;
  background-color: black;
}

.work .carousel-indicators .active {
  background-color: #be0f0f;
}

.work a:hover {
  color: #be0f0f;
}

.contact hr.lineVertical-message {
  background-color: #be0f0f;
  width: 5px;
  height: 50vh;
  position: absolute;
  right: 0;
  margin: 10px 0;
}

.contact hr.lineVertical-contact {
  background-color: #be0f0f;
  width: 5px;
  height: 37vh;
  position: absolute;
  right: 0;
  margin: 10px 0;
}

.contact .textareaMessage {
  height: 20vh;
}

.contact .infoContact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact a {
  color: #333333;
  text-decoration: none;
}

@media (max-width: 767px) {
  .rowContainer {
    overflow: auto;
    height: 100vh !important;
  }
  .rowContainer .colContainer {
    height: 110vh !important;
  }
  .nav {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000000000000000;
  }
}

@media (max-width: 580px) {
  .home {
    background-position-x: -100px;
  }
}

@media (max-width: 991px) {
  .logo img {
    width: 350px !important;
  }
  .rowContainer {
    height: 75vh;
  }
  .rowContainer .colContainer {
    height: 80vh;
  }
  .about hr#aboutLineVerticalImg {
    background-color: #be0f0f;
    width: 5px;
    height: 300px;
    position: absolute;
    right: 1px;
    margin: 0 1px;
  }
}

@media (max-width: 728px) {
  .logo img {
    width: 100% !important;
  }
}

@keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@-webkit-keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-moz-keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}

@-moz-keyframes escribiendo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 

 /*# sourceMappingURL= test.css.map */